{# -*- coding: utf-8 -*- #}
{# vim: ft=jinja #}

{#- Defaults per os_family; pillar yandex-browser-universal:lookup merges on top #}
{% set mapdata = salt['grains.filter_by']({
    'default': {
        'pkg': {
            'name': 'yandex-browser-stable',
            'version': '',
            'fromrepo': 'stable',
        },
        'repo': {
            'name': '',
            'disabled': False,
            'comps': '',
            'conf_name': 'yandex-browser',
            'key_file': 'https://repo.yandex.ru/yandex-browser/YANDEX-BROWSER-KEY.GPG',
            'key_file_dearmor': True,
            'key_keyrings_dir': '/etc/apt/keyrings/',
            'required_packages': ['gpg'],
            'file': '',
            'humanname': 'Yandex Browser',
        },
        'windows': {
            'method': 'chocolatey',
            'chocolatey_name': 'yandexbrowser',
            'installer_url': '',
            'installer_path': 'C:\\Windows\\Temp\\yandex-browser-setup.exe',
            'install_args': '/silent /install',
            'uninstall_name': 'Yandex',
        },
    },
    'Debian': {
        'pkg': {
            'name': 'yandex-browser-stable',
            'version': '',
            'fromrepo': 'stable',
        },
        'repo': {
            'name': 'deb http://repo.yandex.ru/yandex-browser/deb stable',
            'disabled': False,
            'comps': 'main,contrib,non-free',
            'conf_name': 'yandex-browser',
            'key_file': 'https://repo.yandex.ru/yandex-browser/YANDEX-BROWSER-KEY.GPG',
            'key_file_dearmor': True,
            'key_keyrings_dir': '/etc/apt/keyrings/',
            'required_packages': ['gpg'],
            'file': '/etc/apt/sources.list.d/yandex-browser.list',
            'humanname': 'Yandex Browser',
        },
    },
    'RedHat': {
        'pkg': {
            'name': 'yandex-browser-stable',
            'version': '',
            'fromrepo': '',
        },
        'repo': {
            'name': 'https://repo.yandex.ru/yandex-browser/rpm/stable/$basearch/',
            'disabled': False,
            'comps': '',
            'conf_name': 'yandex-browser',
            'key_file': 'https://repo.yandex.ru/yandex-browser/YANDEX-BROWSER-KEY.GPG',
            'key_file_dearmor': False,
            'key_keyrings_dir': '/etc/pki/rpm-gpg/',
            'required_packages': [],
            'file': '/etc/yum.repos.d/yandex-browser.repo',
            'humanname': 'Yandex Browser',
        },
    },
    'Windows': {
        'pkg': {
            'name': 'yandexbrowser',
            'version': '',
            'fromrepo': '',
        },
        'repo': {
            'name': '',
            'disabled': True,
            'comps': '',
            'conf_name': 'yandex-browser',
            'key_file': '',
            'key_file_dearmor': False,
            'key_keyrings_dir': '',
            'required_packages': [],
            'file': '',
            'humanname': 'Yandex Browser',
        },
        'windows': {
            'method': 'chocolatey',
            'chocolatey_name': 'yandexbrowser',
            'installer_url': '',
            'installer_path': 'C:\\Windows\\Temp\\yandex-browser-setup.exe',
            'install_args': '/silent /install',
            'uninstall_name': 'Yandex',
        },
    },
}, merge=salt['pillar.get']('yandex-browser-universal:lookup'), base='default') %}
