yandex-browser-universal:
  # Override map.jinja defaults
  lookup:
    # Package parameters
    pkg:
      # Linux package name / Windows Chocolatey package id
      name: yandex-browser-stable
      # Empty string = latest available version
      version: ''
      # Debian: suite/fromrepo after repository import (may be empty)
      fromrepo: 'stable'

    # Linux repository parameters (ignored on Windows)
    repo:
      # one-line-style apt source without options; empty = do not import repo
      # Debian default is set in map.jinja; RedHat uses yum baseurl style
      name: 'deb http://repo.yandex.ru/yandex-browser/deb stable'
      disabled: False
      comps: 'main,contrib,non-free'
      # Names of .list/.repo and .gpg files; must not be empty when repo is used
      conf_name: 'yandex-browser'
      key_file: 'https://repo.yandex.ru/yandex-browser/YANDEX-BROWSER-KEY.GPG'
      key_file_dearmor: True
      key_keyrings_dir: '/etc/apt/keyrings/'
      required_packages: [ 'gpg' ]

    # Windows-only parameters
    windows:
      # chocolatey | installer
      method: chocolatey
      # Chocolatey package id (used when method=chocolatey)
      chocolatey_name: yandexbrowser
      # Direct installer (used when method=installer)
      installer_url: ''
      installer_path: 'C:\\Windows\\Temp\\yandex-browser-setup.exe'
      # Silent install arguments for official Windows installer
      install_args: '/silent /install'
      uninstall_name: 'Yandex'
